.text-margin{
    margin-left: 5rem;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.info-text{
    color: white;
    padding: 2rem;
    text-align: center;
}

.no-padding{
    padding-right: 0rem;
}

.no-margin{
    margin-right: 0rem;
}

.navbar-brand{
    margin-left: 17rem;
    font-weight: 700;
    font-size: 2rem;
}

#navbarSupportedContent{
    width: 48rem;
}

.carousel-control-next-icon{
    height: 4rem;
    position: absolute;
    right: 0rem;
    background-color: red;
}

.carousel-control-prev-icon{
    height: 4rem;
    position: absolute;
    left: 0rem;
    background-color: red;
}

.d-block{
    filter: grayscale(100%);
}

.star-img{
    height: 2rem;
    width: 2rem;
}

.red-part{
    background-color: rgb(197, 61, 61);
}

.cards{
    margin-right: 0rem;
    margin-left: 1rem;
    width: 16rem;
}

.container{
    height: 54rem;
}

h2{
    margin-bottom: 1rem;
    margin-top: 3rem;
}

h3{
    margin-bottom: 2rem;
}

.card{
    border:0rem;
}

.card-text{
    text-align: center;
}

.grey-bar{
    position: absolute;
    left: 8rem;
    height: 20rem;
    width: 14rem;
}

.summary{
    text-align: justify;
}

.grey-part{
    background-color: rgb(88, 86, 86);
}